@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

.main-stat-container {
  display: flex;
  padding: 1%;
  width: 100%;
  max-width: 400px;
  z-index: 0;
  background-color: rgb(138, 50, 138);
  color: whitesmoke;
  font-family: "Electrolize", sans-serif;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(232, 71, 106, 0.4) 0px 2px 4px,
    rgba(232, 71, 106, 0.3) 0px 7px 13px -3px,
    rgba(232, 71, 106, 0.2) 0px -3px 0px inset;
}

.menu-stat-title {
  text-align: center;
  margin-bottom: 6%;
  margin-top: 4%;
  user-select: none;
}

.panels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2%;
}

@media screen and (max-width: 820px) {
  .main-stat-container {
    margin-top: 1vh;
  }
}
