.App {
  width: auto;
  background-color: rgb(37, 34, 34);
}

.inputF-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.statsAndRooms-container {
}

/*
@media only screen and (max-width: 550px) {
  .main-container {
    display: block;
  }
}*/
