.create-button-container {
  display: flex;
  flex-direction: column;
  width: 10%;
  padding-bottom: 1%;
}

.create-button {
  background-color: rgb(106, 189, 106);
  padding: 3%;
  font-weight: bold;
  font-size: 30px;
  border: none;
  color: antiquewhite;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.create-button:hover {
  background-color: rgb(154, 207, 154);
  padding: 3%;
  color: rgb(247, 240, 231);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px,
    rgba(0, 0, 0, 0.5) 0px 7px 13px -3px, rgba(0, 0, 0, 0.4) 0px -3px 0px inset;
  transition: 0.2s;
  scale: 1.05;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.create-button:active {
  scale: 0.9;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
