.single-room-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: rgba(33, 33, 33, 0.918);
  width: 100%;
  padding: 5px 0px 5px 4px;
  margin-bottom: 6px;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  user-select: none;
  cursor: pointer;
}

.single-room-container:hover {
  background-color: #be8b95;
  color: whitesmoke;
  translate: 4px;
  transition: 0.2s;
  transition-timing-function: ease;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.room-name {
  display: flex;
}

.room-nbPlayers {
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
}
