.nb-players-container {
  display: flex;
  width: 80%;
  padding: 1% 1% 1% 1%;
  margin-bottom: 5%;
}

.nb-players-tile {
  margin: 0;
  font-weight: 600;
  padding: 2.5% 4% 0 0;
}

/* Disable Arrows for the number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.number-players-input {
  width: 15%;
  padding: 4%;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.number-players-input:required:focus {
  background-color: rgb(225, 220, 220);
  box-shadow: rgba(255, 0, 0, 0.4) 0px 2px 4px,
    rgba(234, 7, 7, 0.3) 0px 7px 13px -3px,
    rgrgba(235, 4, 4, 0.2) px -3px 0px inset;
  outline: none;
}

.number-players-input:hover {
  transition: 0.2s;
  scale: 1.02;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.4);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px,
    rgba(0, 0, 0, 0.5) 0px 7px 13px -3px, rgba(0, 0, 0, 0.4) 0px -3px 0px inset;
}

.requiredField {
  padding: 0% 1% 1% 2%;
  color: rgb(255, 255, 255);
}
