.name-container {
  padding: 1% 1% 1% 1%;
  display: flex;
  width: 80%;
  margin-bottom: 6%;
}

.name-title {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 2% 5% 0% 0%;
}

.name-input {
  width: 50%;
  padding: 3.6%;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.name-input:required:focus {
  background-color: rgb(223, 223, 223);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgrgba(235, 4, 4, 0.2) px -3px 0px inset;
  outline: none;
}

.name-input:hover {
  transition: 0.2s;
  scale: 1.02;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  text-shadow: 1px 1px 1px rgba(38, 38, 38, 0.4);
  box-shadow: rgba(48, 48, 48, 0.6) 0px 3px 4px,
    rgba(59, 59, 59, 0.5) 0px 7px 13px -3px,
    rgba(51, 51, 51, 0.4) 0px -3px 0px inset;
}

.name-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(22, 22, 22);
  opacity: 1; /* Firefox */
}

.name-input::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(19, 19, 19);
}

.name-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(19, 19, 19);
}
