@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");

.header {
  height: 40vh;
  align-items: center;
  display: flex;
  border-bottom: solid 3px black;
}

.game__tile {
  margin: auto;
  font-size: 3rem;
  color: rgb(44, 41, 41);
  box-shadow: rgba(0, 0, 255, 0.718) 0px 0px 0px 2px inset,
    rgb(255, 255, 255) 10px -10px 0px -3px, rgba(30, 193, 27, 0.542) 10px -10px,
    rgb(255, 255, 255) 20px -20px 0px -3px, rgba(255, 216, 19, 0.608) 20px -20px,
    rgb(255, 255, 255) 30px -30px 0px -3px, rgba(255, 156, 85, 0.727) 30px -30px,
    rgb(255, 255, 255) 40px -40px 0px -3px, rgba(255, 85, 85, 0.673) 40px -40px;
  font-family: "Kavoon", cursive;
  padding: 5px;
}

.menu-connexion-area {
  width: 150px;
  justify-content: right;
}

.menu-connexion-button {
  font-family: monospace;
  font-size: 0.8rem;
  color: #000000;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #000000;
  box-shadow: 3px 3px #020202;
  cursor: pointer;
}

.menu-connexion-button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.icon {
  font-size: 25px;
  cursor: pointer;
  padding: 10px;
}
