@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

.inputField-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 69%;
  max-width: 400px;
  max-height: 125px;
  background-color: #ffa01b;
  padding: 3%;
  border-radius: 7px;
  box-shadow: #e8476a 0px 2px 4px, rgba(232, 71, 106, 0.3) 0px 7px 13px -3px,
    rgba(232, 71, 106, 0.3) 0px -3px 0px inset;
}

.inputField {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1%;
}

.input-form {
  visibility: hidden;
}

.input-field-box {
  width: 75%;
  border-radius: 50px;
  padding: 3%;
  font-size: 17px;
  border: none;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-family: "Electrolize", sans-serif;
}

.input-field-box:focus {
  box-shadow: 0 0 10px 1000px rgb(0, 0, 0, 0.5);
  outline: none;
}

.mode-and-go {
  display: flex;
  padding: 3%;
  width: 60%;
  justify-content: space-around;
}

.input-select {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 3%;
  font-family: "Electrolize", sans-serif;
  color: rgb(43, 43, 43);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.input-select option {
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

.input-field-submit {
  border: none;
  outline: none;
  color: rgba(43, 43, 43, 0.963);
  background: #ffffff;
  border-radius: 15px;
  font-family: "Electrolize", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
