@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

.connexion-area-container {
  margin-top: 4px;
  width: 125px;
  display: flex;
  justify-content: space-between;
}

.connexion-button {
  font-family: "Electrolize", sans-serif;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ffa01b;
  border: 2px solid #e8476a;
  box-shadow: purple 0px 2px 4px, rgba(232, 71, 106, 0.3) 0px 7px 13px -3px,
    rgba(232, 71, 106, 0.3) 0px -3px 0px inset;
  cursor: pointer;
  transition: 0.2s;
}

.connexion-button:hover {
  color: rgb(215, 215, 215);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  transform: scale(1.04);
  background-color: #ef971c;
  font-weight: 700;
  transition: 0.2s;
}

.connexion-button:active {
  transform: scale(0.9);
  color: rgb(240, 240, 240);
  transition: 0.2s;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.menu-connexion-button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.icon-account-container,
.icon-logout-container {
  font-size: 22px;
  color: #fff2ec;
  cursor: pointer;
  padding: 13px 15px 11px 14px;
  box-shadow: #e8476a 0px 2px 4px, rgba(232, 71, 106, 0.3) 0px 7px 13px -3px,
    rgba(232, 71, 106, 0.3) 0px -3px 0px inset;
  border-radius: 5px;
  border: 2px solid #e8476a;
  background-color: #ffa01b;
}

.icon-account-container:hover,
.icon-logout-container:hover {
  color: rgb(185, 185, 185);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.icon-account-container:hover,
.icon-logout-container:hover {
  background-color: #de860c;
  color: #dbcfcf;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
}

.icon-account-container:active,
.icon-logout-container:active {
  transform: scale(0.95);
  color: rgb(34, 34, 34);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

@media only screen and (max-width: 550px) {
  .connexion-area-container {
    justify-content: space-evenly;
  }
  .connexion-button {
    font-size: 8px;
  }
  .icon-logout-container {
    font-size: 16px;
    padding: 10px 12px 8px 11px;
  }
  .icon-account-container {
    font-size: 16px;
    padding: 10px 12px 8px 11px;
  }
}
