.players-number {
  display: flex;
}

.room-nbPlayers-Full {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  width: 220px;
  color: rgb(255, 35, 35);
}

.room-nbPlayers-Full:hover {
  color: rgb(255, 217, 217);
  text-shadow: red 0px 0px 5px;
}
