.single-room-container {
  position: relative;
  display: flex;
  background-color: white;
  color: rgba(69, 68, 68, 0.918);
  width: 230px;
  padding: 5px 0px 5px 4px;
  margin-bottom: 6px;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.room-private {
  margin-left: 6px;
}

.room-nbPlayers-Full {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  width: 220px;
}

.room-nbPlayers {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  width: 220px;
  cursor: pointer;
}
