.single-room-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: rgba(33, 33, 33, 0.918);
  width: 100%;
  padding: 5px 0px 5px 4px;
  margin-bottom: 6px;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
}

.room-name {
  display: flex;
}

.lock-icon {
  margin-left: 5%;
}

.players-number {
  display: flex;
  margin-right: 3%;
}

.room-nbPlayers-Full {
  display: flex;
  justify-content: flex-end;
}

.room-nbPlayers {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  cursor: pointer;
}
