.scoreBoard {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.505);
  color: white;
  border-radius: 5px;
}

.quitButton {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.505);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.quitButton:hover {
  background-color: rgba(0, 0, 0, 0.705);
}

.miniMap {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.505);
  color: white;
  border-radius: 5px;
  height: 200px;
  width: 200px;
  /* Désactiver le flou entre les pixels*/
  image-rendering: pixelated;
}

body {
  /*Coverfontimagelocalimage*/
  background-image: url(./ress/background.png);
  background-size: cover;
  /*Centerfontimage*/
  background-position: center;
}

#soundBtn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

#soundBtn:hover {
  /* On met un filtre pour le rendre vert */
  filter: invert(0.5) sepia(1) saturate(3) hue-rotate(100deg);
}
